* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
   display:flex;
   justify-content: space-between;
   max-width: 1440px; /* İçerik en fazla bu kadar genişlesin */
   width: 100%;       /* Ekran genişliğine göre genişlesin */
   margin: 0 auto;    /* Geniş ekranlarda header'ı ortalar */
   align-items: center;
   padding: 30px 0; /* Üst-Alt 30px, Sağ-Sol 0 */
}

.icons{
    display:flex;
    gap:48px;
    align-items: center;

}

nav ul {
    list-style: none; /* Noktalar burada yok edilir */
    display: flex;    /* Yan yana burada dizilir */
    gap: 48px;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    justify-content: flex-start;
}

nav a {
    text-decoration: none; /* Çizgi burada silinir */
    color: #333;           /* Renk burada değişir */
}


nav a.active {
    color: #1E1E1E;
    font-weight: 600;      /* Yazıyı biraz kalınlaştırır */
}

nav a.nav-link { 
    color: #1E1E1E80;
}

@media (max-width: 720px) {
  /* Ekran 720px'den küçük olduğunda çalışacak kodlar buraya gelir */
  nav {
    display: none; /* Orta menüyü tamamen kaldırır */
  }

 
}

/* Hero Section */
.hero {
  background-color: #c1dcdc;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  border-radius: 40px;
  display: flex;
  justify-content: space-around;
  height: 500px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
}

.hero-title {
  font-weight: 800;
  font-size: 48px;
}

.stats-container {
  display: flex;
  gap: 50px;
}

.divider {
  height: 48px;
  border: 1px solid #000000;
}

.stat-number {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.stat-desc {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #000000;
}

.search-container {
  display: flex;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 10px 15px; 
  max-width: 450px;
  justify-content: space-between;
  align-items: center;
}


.search-container input {
  flex: 1; /* Tüm boş alanı kaplaması için ↔️ */
  border: none; /* Kenarlıkları kaldırır */
  outline: none; /* Tıklandığında çıkan mavi çerçeveyi siler 🚫 */
  font-family: "Poppins", sans-serif;
  font-size: 16px;
 
}

/* Arama butonu */
.search-btn {
  background-color: #c1dcdc; 
  border: none;
  border-radius: 10px; 
  padding: 10px;
  cursor: pointer; 
  display: flex;
  align-items: center;
  justify-content: center;
}


.hero-image-area {
  position: relative; /* Çerçeveyi belirledik */
  height: 500px;      /* Alanın yüksekliği */
  width:%100;
}

.hero-image-area img, .black-shape {
  position: absolute; /* Elemanları serbest bıraktık */
  bottom: 0;          /* Hepsini en alta gönderdik ⬇️ */
}

.black-shape { z-index: 1; } /* En arka katman */
.img-pot  { z-index: 2; } /* Orta katman (Bitki) */
.img-main   { z-index: 3; } /* En ön katman (Saksı) */



.best-selling-section {
    display: flex;
    justify-content: space-between; /* Aralarında eşit boşluk bırakır ↔️ */
    max-width: 1400px;
    width: 100%;
    margin: 0 auto; /* Sayfayı ortalar */
    gap: 40px; /* Başlık ve kartlar arasındaki boşluk */
    padding: 80px 0px; /* Üst-Alt 80px, Sağ-Sol 0px */

}



.section-title {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 700;  
}

.section-subtitle {
    font-size: 18px;
    color: #1E1E1E80;
    margin-bottom: 25px;
}

.see-more-btn {
  background-color: #C1DCDC;
   width:168px;
   height:51px;
   border-radius:8px;
   border: none;
   display: flex;
   font-size: 15px;
   font-weight: 400;
    color: #000;
   font-family: 'Poppins', sans-serif;
   justify-content: center; /* yatay ortalar */
   align-items: center;     /* dikey ortalar */
   gap: 10px; /* Ok ile yazı arasındaki boşluk */
}

/* Ok resmi */
.btn-arrow {
  width: 24px;
  height: 20px;
}

/* Ürün Kartları */
.plant-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 436px;
    max-width: 300px;
    width: 100%;
}

.plant-name {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
   
}

.plant-price {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #1E1E1E80;
}

.best-selling-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 256px;
}

.section-title {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 700;
}

.section-subtitle {
    font-size: 18px;
    color: #1E1E1E80;
    font-family: 'Poppins', sans-serif;
}

@media (max-width: 500px) {
  .best-selling-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}